<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
</head>
<body>
<% include partials/messages %>
<div class="container dynamicTile">
    <div class="row ">
        <div class="col-sm-2 col-xs-4">
            <a href="" data-toggle="modal" data-target="#profile">
                <div id="tile1" class="tile">
                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="tilecaption" style="text-decoration: none">Área de Utilizador</h3>
                            </div>
                            <div class="item">
                                <h3 class="tilecaption" style="text-decoration: none">Visualize o seu perfil</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-2 col-xs-4">
            <a href="/logout">
                <div id="tile9" class="tile">

                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="tilecaption" style="text-decoration: none">Logout</h3>
                            </div>
                            <div class="item">
                                <h3 class="tilecaption" style="text-decoration: none">Sair</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
        <div class="col-sm-4 col-xs-8">
            <a href="/orders">
                <div id="tile2" class="tile">
                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="tilecaption">Encomendas</h3>
                            </div>
                            <div class="item">
                                <h3 class="tilecaption">Consulte todas as suas encomendas</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-xs-8">
            <a href="/sales">
                <div id="tile6" class="tile">

                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="tilecaption">Promoções</h3>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-xs-8">
            <a href="/products">
                <div id="tile7" class="tile">

                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="tilecaption">Veja todos os produtos que temos</h3>
                            </div>
                            <div class="item">
                                <img src="http://cdn1.xda-developers.com/devdb/deviceForum/screenshots/2589/20131018T122945.png"
                                     class="img-responsive" style="height: 100%"/>
                            </div>
                            <div class="item">
                                <img src="https://lh6.ggpht.com/gr0qGRK8LZtBhHw_QPQRi_CLzx6bU0JrXxUJHcPKtOpdqO0efXGG-tg5Xu1QxYnEirE=w3200"
                                     class="img-responsive" style="height: 100%"/>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
        <div class="col-sm-4 col-xs-8">
            <a href="">
                <div id="tile10" class="tile">

                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <h3 class="tilecaption"><i class="fa fa-mobile fa-4x"></i></h3>
                            </div>

                        </div>
                    </div>

                </div>
            </a>
        </div>
        <div class="col-sm-4 col-xs-8">
            <a href="">
                <div id="tile12" class="tile">

                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="http://i.ytimg.com/vi/R4-YdC5N6Lo/maxresdefault.jpg" class="img-responsive"/>
                            </div>

                        </div>
                    </div>

                </div>
            </a>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-4 col-xs-8">
            <a href="">
                <div id="tile8" class="tile">

                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="http://cdn1.xda-developers.com/devdb/deviceForum/screenshots/2589/20131018T122945.png"
                                     class="img-responsive" style="height: 100%"/>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
        <div class="col-sm-4 col-xs-8">
            <a href="/products">
                <div id="tile11" class="tile">

                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="http://www.tu.no/incoming/2014/07/07/1200030275.jpg/alternates/h1080/1200030275.jpg"
                                     class="img-responsive"/>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
        <div class="col-sm-4 col-xs-8">
            <a href="">
                <div id="tile10" class="tile">

                    <div class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="http://files.tested.com/photos/2013/01/09/43717-ubuntu1.jpg"
                                     class="img-responsive"/>
                            </div>

                        </div>
                    </div>

                </div>
            </a>
        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-user"></i> Profile</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="padding-right: 2.5em">
                            <div class="panel panel-info">
                                <div class="panel-heading" style="background-color: #393939; border-color: #393939">
                                    <h3 class="panel-title">Sheena Kristin A.Eschor</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic"
                                                                                            src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100"
                                                                                            class="img-circle"></div>
                                        <div class=" col-md-9 col-lg-9 ">
                                            <table class="table table-user-information">
                                                <tbody>
                                                <tr>
                                                    <td>Nome</td>
                                                    <td><%= user.Nome %></td>
                                                </tr>
                                                <tr>
                                                    <td>Telefone</td>
                                                    <td><%= user.Telefone %></td>
                                                </tr>
                                                <tr>
                                                    <td>Morada</td>
                                                    <td><%= user.Morada %></td>
                                                </tr>
                                                <tr>
                                                    <td>Localidade</td>
                                                    <td><%= user.Localidade %></td>
                                                </tr>
                                                <tr>
                                                    <td>Código Postal</td>
                                                    <td><%= user.CodPostal %></td>
                                                </tr>
                                                <tr>
                                                    <td>Número de Contribuinte</td>
                                                    <td><%= user.NumContribuinte %></td>
                                                </tr>

                                                </tbody>
                                            </table>

                                            <a href="" data-toggle="modal" data-target="#cart" title="Shopping Cart"
                                               class="btn btn-sunny btn-md text-uppercase"><i
                                                        class="fa fa-shopping-cart fa-lg"></i> 14</a>
                                            <a href="/orders" class="btn btn-sunny btn-md text-uppercase"><i
                                                        class="fa fa-history fa-lg"></i> Ver histórico de encomendas</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% include partials/scripts %>
<script type="text/javascript" src="/js/dashboard.js"></script>
</body>
</html>
