<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <% include partials/head.ejs %>
    <link rel="stylesheet" href="/css/orders.css"/>
</head>
<body>
<% include partials/messages %>
<% include partials/header.ejs %>
<h1 style="margin-left: 9.8em">Consulte as suas encomendas</h1>
<div class="container" style="margin-top: 3em">
    <div class="row">
        <div id="searchForm" class="col-md-3">
            <form action="#" method="get">
                <div class="input-group">
                    <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
                    <input style="margin-top: 0.3em" class="form-control" id="system-search" name="q"
                           placeholder="Procurar por..." required>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-12" style="margin-top: 3em">
            <table class="table table-list-search">
                <thead>
                <tr class="thead-border">
                    <th>Descrição</th>
                    <th>Número de Artigos</th>
                    <th>Estado</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <% orders.forEach(function(order) { %>
                <tr class="link-cursor tr-border tr-hover" data-href="order/<%= order.NumDoc %>">
                    <td>Encomenda feita em <%= order.Data %></td>
                    <td><%= order.TotalItems %></td>
                    <td><%= order.Estado %></td>
                    <td><%= (order.Total).toFixed(2) %></td>
                </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include partials/scripts.ejs %>
<script type="text/javascript" src="/js/orders.js"></script>
</body>
</html>