<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/search.css">
</head>
<body ng-app="products-app">
<% include partials/messages %>
<% include partials/header.ejs %>
<div class="container">
    <section>
        <div class="container vertical-offset-100">
            <div class="board">
                <div class="board-inner">

                    <hgroup class="mb20">
                        <h1 style="color: white">Produtos disponíveis</h1>
                    </hgroup>

                    <section ng-controller="ProductsController as productctrl" class="col-xs-12 col-sm-6 col-md-12">
                        <% products.forEach(function(product) { %>
                        <article class="search-result row" style="background-color: #222222">
                            <div class="col-xs-12 col-sm-12 col-md-3">
                                <a href="/product/<%= product.CodigoArtigo %>" class="thumbnail"><img
                                        src="http://lorempixel.com/400/200/" alt="Lorem ipsum"/></a>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-2">
                                <ul class="meta-search">
                                    <li><i class="fa fa-android"></i>
                                        <span><%= product.NomeSistemaOperativo %></span>
                                    </li>
                                    <li><i class="fa fa-mobile"></i>
                                        <span><%= product.TamanhoEcra %> polegadas</span>
                                    </li>
                                    <li><i class="fa fa-mobile"></i>
                                        <span><%= product.StockAtual %> em stock</span>
                                    </li>
                                    <li id="preco"><i class="fa fa-euro"></i>
                                        <span><%= product.PVP * (1-(product.Desconto/100)) %></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                                <h3><a href="/product/<%= product.CodigoArtigo %>" title=""><%= product.Nome %></a></h3>

                                <p>Processador: <%= product.CPU %></p>

                                <p>Armazenamento: <%= product.Armazenamento %> GB</p>

                                <p>Data de Lançamento: <%= product.Lancamento %></p>
                            </div>
                            <span class="clearfix borda"></span>
                        </article>
                        <% }); %>
                    </section>
                    <button class="btn btn-fresh btn-lg text-uppercase" ng-click="productctrl.getPage()"></button>
                </div>
            </div>
        </div>
    </section>
</div>
<% include partials/scripts %>
<script type="text/javascript" src="/js/app-products.js"></script>
</body>
</html>