<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <% include partials/head %>
    <link rel="stylesheet" type="text/css" href="/css/product.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<% include partials/messages %>
<% include partials/header.ejs %>
<div class="container-fluid" style="background-color: #222222;">
    <div class="content-wrapper" style="background-color: #222222;">
        <div class="item-container">
            <div class="container">
                <div class="col-md-5">

                    <div style="text-align: center">
                        <img class="img-responsive"
                             src="http://www.corsair.com/Media/catalog/product/g/s/gs600_psu_sideview_blue_2.png"
                             alt=""/>
                    </div>
                </div>

                <div class="col-md-6" style="float:right;">
                    <div class="product-title"><%= product.Nome %></div>
                    <div class="product-desc">The Corsair Gaming Series GS600 is the ideal price/performance choice for
                        mid-spec gaming PC
                    </div>
                    <hr>
                    <div class="product-price"><%= product.PVP * (1-(product.Desconto/100)) %>€</div>
                    <div class="product-stock"><% if(product.Stock <= 0) { %> Sem Stock <% } else { %> Em Stock <% }
                        %>
                    </div>
                    <hr>
                    <div class="btn-group cart">
                        <button type="button" class="btn btn-fresh text-uppercase">
                            Adicionar ao carrinho
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-md-12 product-info">
                <ul id="myTab" class="nav nav-tabs nav_tabs">

                    <li class="active"><a href="#service-one" data-toggle="tab">DESCRIPTION</a></li>

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="service-one">

                        <section class="container product-info">

                            <div style="padding-left: 2em">

                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <span class="input-group-addon">
                                            Marca
                                        </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <%= product.Marca %>
                                    </div>
                                </div>

                                <br/>
                                <br/>

                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <span class="input-group-addon">
                                            Data de Lançamento
                                        </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <%= product.Lancamento %>
                                    </div>
                                </div>

                                <br/>
                                <br/>

                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <span class="input-group-addon">
                                            Sistema Operativo
                                        </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <%= product.NomeSistemaOperativo %> <%= product.VersaoSistemaOperativo %>
                                    </div>
                                </div>

                                <br/>
                                <br/>

                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <span class="input-group-addon">
                                            CPU
                                        </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <%= product.CPU %>
                                    </div>
                                </div>

                                <br/>
                                <br/>

                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <span class="input-group-addon">
                                            GPU
                                        </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <%= product.GPU %>
                                    </div>
                                </div>

                                <br/>
                                <br/>

                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <span class="input-group-addon">
                                            Capacidade de Armazenamento
                                        </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <%= product.Armazenamento %> GB
                                    </div>
                                </div>

                                <br/>
                                <br/>

                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <span class="input-group-addon">
                                            Tamanho do ecrã
                                        </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <%= product.TamanhoEcra %> polegadas
                                    </div>
                                </div>

                                <br/>
                                <br/>

                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <span class="input-group-addon">
                                            Camara Traseira
                                        </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <%= product.CamaraTraseira %> Mega Pixeis
                                    </div>
                                </div>

                                <br/>
                                <br/>

                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <span class="input-group-addon">
                                            Autonomia
                                        </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <%= product.Autonomia %> horas
                                    </div>
                                </div>

                                <br/>
                                <br/>

                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <span class="input-group-addon">
                                            Peso
                                        </span>
                                    </div>
                                    <div class="col-sm-8">
                                        <%= product.Peso %>
                                    </div>
                                </div>
                            </div>

                        </section>

                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<% include partials/scripts %>
</body>
</html>